---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=f74fd909&app_key=e2f5b22f73388fa3bafff20e2207900e&field=url&q=thailand&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"from":1,"to":20,"count":192,"_links":{"next":{"href":"https://api.edamam.com/api/recipes/v2?q=thailand&app_key=e2f5b22f73388fa3bafff20e2207900e&field=label&field=image&field=url&_cont=CHcVQBtNNQphDmgVQ3tAEX4BYVRtAgYGRWNFC2sQZlB3AgsBUXlSC2FHN1YgDFEGQzNBUjRGNVwgBlJTRWJAA2cUYFF6BVIVLnlSVSBMPkd5BgMbUSYRVTdgMgksRlpSAAcRXTVGcV84SU4%3D&type=public&app_id=f74fd909","title":"Next
        page"}},"hits":[{"recipe":{"label":"Andy Ricker''s Naam Cheuam Naam Taan Piip
        (Palm Sugar Simple Syrup)","image":"https://edamam-product-images.s3.amazonaws.com/web-img/611/61165abc1c1c6a185fe5e67167d3e1f0.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJ3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJIMEYCIQDQXRUp3v4JKb9pGsKvRTub4aIOIPD4VehjpxJdZ%2FJx%2BgIhAIqxq80219w%2BD1Bb%2BHdpfQH2ozMEPhy99iYTbmMCedbvKtUECJb%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMMTg3MDE3MTUwOTg2IgxNFYZXDRQ4QXv13tsqqQT%2BULpr0VRkhJYhRJxINvzIiHJVaxruqDETN9LhpOI0xeXZQ6V1PUBVAEOc%2Bwj2sntA4a14RFD5zs3GxMRGHKayyFxnQKjJ5hpUsjTrzH0G0sWjWAv%2Fw81UepwA[...]
