---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=ncDOlA6fAzp77-wmOKnC7LnHpHOq4NOHAWgtbAdV4d4&per_page=10&query=DRLl6AjP3KM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Sun, 13 Nov 2022 22:59:33 GMT
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyBIqhoJN6QC7IyHiGM4Qwlp5SG8gvdnWaE&maxResults=1&part=snippet&q=DRLl6AjP3KM&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "pYsT-_-YxVJGHljnx5xEfPvtyPw",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "vXIwvXruOZp96T8SiZARZIQGK6M",
              "id": {
                "kind": "youtube#video",
                "videoId": "DRLl6AjP3KM"
              },
              "snippet": {
                "publishedAt": "2022-10-29T12:46:30Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Papua New Guinea",
                "description": "Pictures Requiring Attribution: https://i.etsystatic.com/13759830/r/il/150e4b/3382697420/il_794xN.3382697420_ipx5.jpg ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/DRLl6AjP3KM/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/DRLl6AjP3KM/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/DRLl6AjP3KM/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2022-10-29T12:46:30Z"
              }
            }
          ]
        }
  recorded_at: Sun, 13 Nov 2022 22:59:33 GMT
recorded_with: VCR 6.1.0
